<input type='file' id='photo-id' {{on 'change' this.uploadPhoto}}/>
<br/>
<button type='button' {{on 'click' this.downloadPhoto}}>
  Download
</button>
<button type='button' {{on 'click' this.clearPhoto}}>Clear</button>
{{#if this.photo}}
  <div local-class='wrapper' style={{this.style}}>
    <ImageViewer @photo={{this.photo}}/>
  </div>
{{/if}}
