<input type='file' id='photo-id' {{on 'change' this.uploadPhoto}}/>
<br/>
<button type='button' {{on 'click' this.downloadPhoto}}>
    {{!-- <a href={{this.src}} target='_blank' download={{this.filename}} rel='noopener noreferrer'>Download</a> --}}
    Download
</button>
<button type='button' {{on 'click' this.clearPhoto}}>Clear</button>
<ImageViewer @src={{this.src}} />
