{{#if this.image}}
  <div class="flex-container container-fluid col-12 col-md-9 col-lg-8">
    <div class="card mx-auto">
      <div class="card-header text-center">
        <img class='header-logo' src='assets/images/header.png' alt='sharinpix'/>
      </div>
      <div class="card-body">
        <ImageViewer @image={{this.image}} @photobooth={{this}} @filename={{this.photo.name}} class='container supercontainer'/>
      </div>
      <div class="card-body mt-auto">
        <div class="d-flex justify-content-center align-items-center">
          <button type='button' class='btn btn-primary btn-download mx-2' {{on 'click' (perform this.saveTask)}}>
            {{svg-jar 'download' class='icon' width='24px' height='24px'}} Download
          </button>
          <button type='button' class='btn btn-secondary btn-refresh' {{on 'click' this.clearPhoto}}>
            {{svg-jar 'reset' class='icon' width='24px' height='24px'}} Refresh
          </button>
        </div>
      </div>
      <div class="card-footer bg-blue text-center">
        <a href="https://www.sharinpix.com" target="_blank" rel="noopener noreferrer">Powered by SharinPix</a>
        <img class='footer-logo' src='/assets/images/footer.png' alt='sharinpix'/>
      </div>
    </div>
  </div>
{{else}}
  <FileDropZone @onDrop={{this.addFiles}} as |state|>
    {{#unless state.dragging }}
      <div class='photo-id'>
        <div class='row d-grid gap-2 d-md-block'>
          <h3>Drop your files here...</h3>
          <button class='btn btn-primary'  type='button'>
            <label class="label">
              <input type='file' id='photo' accept='image/*' {{on 'change' this.uploadPhoto}}/>
              {{svg-jar 'upload' class='icon' width='24px'}}
              <span>Select a photo</span>
            </label>
          </button>
        </div>
      </div>
    {{/unless}}
  </FileDropZone>
{{/if}}
