
{{#if this.image}}
  <button type='button' class='btn btn-secondary btn-refresh' {{on 'click' this.clearPhoto}}>
    {{svg-jar 'reset' class='icon' width='24px' height='24px'}}
  </button>
  <ImageViewer @image={{this.image}} class='container'/>
  <button type='button' class='btn btn-primary btn-download' {{on 'click' this.downloadPhoto}}>
    {{svg-jar 'download' class='icon' width='24px' height='24px'}} Download
  </button>
{{else}}
  <FileDropZone @onDrop={{this.addFiles}} as |state|>
    {{#unless state.dragging }}
      <p class='photo-id'>drop your files here...</p>
    {{/unless}}
  </FileDropZone>
{{/if}}
